/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
/* animation =================================
animation:name duration | timing-function | delay | iteration-count | direction | fill-mode | play-state; */
.desktop {
  display: none !important;
}

.hero {
  margin-bottom: 0.625rem;
}

.hero_slider {
  position: relative;
}
.hero_slider .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.hero_slider .hero-item-box.desktop {
  display: none !important;
}
.hero_slider .img-wrap {
  position: relative;
  padding-bottom: 66.6666666667vh;
  min-height: 480px;
  overflow: hidden;
}
.hero_slider .img-wrap img.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}
.hero_slider .role {
  position: absolute;
  bottom: 0;
}
.hero_slider .role.role-R {
  right: -50px;
  width: 55%;
  height: 100%;
  max-width: 660px;
  bottom: 0%;
}
.hero_slider .role.role-R img {
  position: absolute;
  top: 0%;
}
.hero_slider .role.role-L {
  left: -50px;
  width: 50%;
  height: 100%;
  max-width: 400px;
  bottom: 0%;
  z-index: 2;
  opacity: 0;
}
.hero_slider .role.role-L img {
  position: absolute;
  bottom: 20%;
}
.hero_slider .swiper-mask {
  background: url(../../images/index/hero-mask.svg) center bottom no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 1;
  background-size: cover;
  display: none;
}
.hero_slider .swiper-slide-active {
  z-index: 2;
}
.hero_slider .swiper-slide-active .img-wrap:before {
  content: "";
  background: url(../../images/index/hero-mask.svg) center bottom no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 1;
  background-size: cover;
}
.hero_slider .swiper-slide-active .role.role-L {
  animation: anim-role_left 3.5s linear 1s 1 normal both;
}
.hero_slider .swiper-slide-active .role.role-L img {
  position: absolute;
  bottom: 20%;
}
.hero_slider .swiper-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
.hero_slider .swiper-pagination-bullet {
  width: 60px;
  height: 60px;
  margin-right: 24px;
  opacity: 1;
  background-color: #fff;
  border: solid 3px #008fd0;
  transition: all 0.3s ease-in;
  transform: scale(1);
  overflow: hidden;
  position: relative;
}
.hero_slider .swiper-pagination-bullet:nth-child(1) {
  bottom: 5px;
}
.hero_slider .swiper-pagination-bullet:nth-child(2) {
  bottom: -10px;
}
.hero_slider .swiper-pagination-bullet:nth-child(3) {
  bottom: -10px;
}
.hero_slider .swiper-pagination-bullet:nth-child(4) {
  bottom: -9px;
}
.hero_slider .swiper-pagination-bullet:nth-child(5) {
  bottom: -8px;
}
.hero_slider .swiper-pagination-bullet-active {
  transform: scale(1.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_publicize img {
  width: 100%;
}
.section_publicize .publicize_wrapper {
  margin-bottom: 0.625rem;
}
.section_publicize .publicize_top_inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.section_publicize .publicize_top_inner .item {
  flex: 0 0 100%;
}
.section_publicize .publicize_bottom {
  margin-bottom: 40px;
}
.section_publicize .publicize_bottom_inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.section_publicize .publicize_bottom_inner .publicize-wrap {
  flex: 0 0 100%;
}
.section_publicize .publicize_bottom_inner .bulletin {
  display: none;
  margin-bottom: 10px;
}
.section_publicize .publicize_bottom_inner .bulletin_inner {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 15px;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
}
.section_publicize .publicize_bottom_inner .bulletin_inner .title {
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: bold;
}
.section_publicize .publicize_bottom_inner .bulletin_list .item {
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;
}
.section_publicize .publicize_bottom_inner .bulletin_list .item:before {
  content: "";
  display: inline-flex;
  width: 3px;
  height: 1rem;
  border-radius: 1px;
  background-color: #008fd1;
}
.section_publicize .publicize_bottom_inner .bulletin_list .item .date {
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.activity-dailylogin-wrapper {
  margin-bottom: 1rem;
  text-align: center;
  overflow: hidden;
}

.dailylogin-bouns-wrapper {
  margin-top: 35px;
}
.dailylogin-bouns-inner {
  background: linear-gradient(180deg, #FFFAC3 0%, #FFDFD2 100%);
  border-radius: 20px 20px 0 0;
  height: 80px;
}
.dailylogin-bouns-content {
  position: relative;
  display: flex;
  height: 100%;
  bottom: 10px;
}
.dailylogin-bouns-content .title {
  position: relative;
  bottom: 10px;
}
.dailylogin-bouns-content .title:before {
  content: "";
  display: inline-flex;
  width: 160px;
  height: 100px;
  background: url(../images/prize/obj-dailylogin-dialog.svg) left bottom no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  left: 0;
}
.dailylogin-bouns-content .title .name {
  position: absolute;
  width: 90%;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 30px;
  font-size: 0.5em;
  width: 4em;
  font-weight: 900;
  z-index: 1;
  margin-left: 45%;
}
.dailylogin-bouns-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  width: calc(100% - 150px);
  right: 0;
}
.dailylogin-bouns-list:after {
  content: "";
  display: inline-flex;
  width: calc(100% + 10px);
  height: 10px;
  background: #4288C9;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  border-radius: 5px 0 0 5px;
}
.dailylogin-bouns-list .bouns-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 14.2857142857%;
  z-index: 1;
}
.dailylogin-bouns-list .bouns-item:before {
  content: "";
  display: inline-flex;
  width: 100%;
  height: 90px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.dailylogin-bouns-list .bouns-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  width: 100%;
  height: 90px;
  background-color: #dbdbdb;
  mix-blend-mode: color;
  -webkit-mask-position: center bottom;
          mask-position: center bottom;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-image: url(../images/prize/obj-coin-bouns.svg);
  mask-image: url(.../images/prize/obj-coin-bouns.svg);
  margin: 0 auto;
}
.dailylogin-bouns-list .bouns-item:nth-child(1):before {
  background-image: url(../images/prize/icon-model-wizard.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(1):after {
  -webkit-mask-image: url(../images/prize/icon-model-wizard.svg);
  mask-image: url(../images/prize/icon-model-wizard.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(2):before {
  background-image: url(../images/prize/icon-model-warrior.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(2):after {
  -webkit-mask-image: url(../images/prize/icon-model-warrior.svg);
  mask-image: url(../images/prize/icon-model-warrior.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(3):before {
  background-image: url(../images/prize/icon-model-musician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(3):after {
  -webkit-mask-image: url(../images/prize/icon-model-musician.svg);
  mask-image: url(../images/prize/icon-model-musician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(4):before {
  background-image: url(../images/prize/icon-model-archer.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(4):after {
  -webkit-mask-image: url(../images/prize/icon-model-archer.svg);
  mask-image: url(../images/prize/icon-model-archer.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(5):before {
  background-image: url(../images/prize/icon-model-mars.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(5):after {
  -webkit-mask-image: url(../images/prize/icon-model-mars.svg);
  mask-image: url(../images/prize/icon-model-mars.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(6):before {
  background-image: url(../images/prize/icon-model-magician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(6):after {
  -webkit-mask-image: url(../images/prize/icon-model-magician.svg);
  mask-image: url(../images/prize/icon-model-magician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(7):before {
  background-image: url(../images/prize/icon-model-bomber.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(7):after {
  -webkit-mask-image: url(../images/prize/icon-model-bomber.svg);
  mask-image: url(../images/prize/icon-model-bomber.svg);
}
.dailylogin-bouns-list .bouns-item.got:after {
  opacity: 0;
}
.dailylogin-bouns-list .bouns-item .day {
  position: relative;
  order: -1;
  width: 80%;
  max-width: 54px;
  margin: 0 auto 3px;
  font-weight: 700;
  font-size: 1.1em;
  padding: 3px 0;
  background: url(../images/prize/obj-dialog.svg) center center no-repeat;
  background-size: contain;
  font-size: 1.5rem;
  padding: 0.5rem;
  max-width: 65px;
  right: -10px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.dailylogin-bouns-list .bouns-item.saturday {
  color: #009FE8;
}
.dailylogin-bouns-list .bouns-item.sunday {
  color: #ff0000;
}

@media (min-width: 768px) {
  .hero_slider .hero-item-box.mobile {
    display: none !important;
  }
  .hero_slider .hero-item-box.desktop {
    display: inherit !important;
  }
  .hero_slider .swiper-mask {
    display: inherit;
  }
}
@media (min-width: 992px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: inherit !important;
  }

  .hero_slider .img-wrap {
    padding-bottom: 83.3333333333vh;
  }
  .hero_slider .swiper-pagination {
    display: initial;
  }

  .section_publicize .publicize_top_inner .item {
    flex: 1;
  }
  .section_publicize .publicize_top_inner .item.writer {
    padding-right: 1.3rem;
  }
  .section_publicize .publicize_bottom_inner .way_payment {
    flex: 0 0 auto;
    padding-right: 1.3rem;
  }
  .section_publicize .publicize_bottom_inner .bulletin-login {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
  }
  .section_publicize .publicize_bottom_inner .bulletin {
    display: inherit;
    width: 100%;
  }
  .section_publicize .publicize_bottom_inner .login {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .hero_slider .img-wrap {
    padding-bottom: 76.9230769231vh;
  }
}