/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
/* animation =================================
animation:name duration | timing-function | delay | iteration-count | direction | fill-mode | play-state; */
.tab-game {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 251, 251, 0)), to(#D6D6D6));
  background: linear-gradient(180deg, rgba(251, 251, 251, 0) 0%, #D6D6D6 100%);
}
.tab-game .content {
  max-width: 840px;
  margin: 0 auto;
}
.tab-game .icon-mask {
  width: 2.1875rem;
  height: 2.1875rem;
}
.tab-game .title {
  display: none;
}

.section-wrap.hero {
  overflow: hidden;
}

.hero_slider_lobby {
  position: relative;
  overflow: hidden;
}
.hero_slider_lobby .container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.hero_slider_lobby .hero-item-box {
  border-radius: 12px;
  overflow: hidden;
}
.hero_slider_lobby .hero-item-box.mobile {
  display: inherit !important;
}
.hero_slider_lobby .hero-item-box.desktop {
  display: none !important;
}
.hero_slider_lobby .img-wrap {
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;
  border-radius: 12px;
}
.hero_slider_lobby .img-wrap img.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  width: 100%;
  height: 100%;
}
.hero_slider_lobby .swiper-slide {
  max-width: 85%;
  padding: 0 8px;
  opacity: 0.65;
}
.hero_slider_lobby .swiper-slide-active {
  opacity: 1;
}
.hero_slider_lobby .swiper-pagination {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.hero_slider_lobby .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.hero_slider_lobby .swiper-pagination-bullet-active {
  background-color: rgba(104, 188, 255, 0.9);
}

.game_slider .swiper-slide {
  padding-right: 10px;
  width: 31.25%;
}

@media (min-width: 375px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 230px;
  }

  .game_slider .swiper-slide {
    width: 28.5714285714%;
  }
}
@media (min-width: 576px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 300px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 68%;
  }

  .game_slider .swiper-slide {
    width: 22.2222222222%;
  }
}
@media (min-width: 640px) {
  .game_slider .swiper-slide {
    width: 18.1818181818%;
  }

  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
}
@media (min-width: 712px) {
  .tab-game .icon-mask {
    width: 3rem;
    height: 3rem;
  }
  .tab-game.tab-scroller {
    overflow: visible;
  }
  .tab-game.tab-scroller .tab-scroller__area {
    overflow-x: visible;
  }
  .tab-game.tab-scroller .tab-item-link {
    position: relative;
  }
  .tab-game.tab-scroller .tab-item {
    overflow: visible;
  }
  .tab-game .title {
    position: absolute;
    display: inline-block;
    font-size: 0.875rem;
    background-color: #009fe8;
    color: #fff;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    top: -30px;
    width: calc((100vw - 30px) / 5);
    max-width: 150px;
    z-index: 99;
    pointer-events: none;
    word-break: break-all;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 10px 0 #000;
            box-shadow: 0 0 10px 0 #000;
  }
  .tab-game .title:after {
    content: "";
    position: absolute;
    bottom: -7px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 6px 0px;
    border-color: #009fe8 transparent transparent;
    left: 0;
    right: 0;
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  .tab-game .tab-item.active .icon-mask::before {
    background-color: #0081bd;
  }
  .tab-game .tab-item:hover .title {
    opacity: 1;
    top: -40px;
  }
  .tab-game .tab-item:hover .icon-mask::before {
    background-color: #0095da;
  }

  .hero_slider_lobby .img-wrap {
    padding-bottom: 280px;
  }
  .hero_slider_lobby .hero-item-box.mobile {
    display: none !important;
  }
  .hero_slider_lobby .hero-item-box.desktop {
    display: inherit !important;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 75%;
  }

  .game_slider .swiper-slide {
    width: 18.1818181818%;
  }
}
@media (min-width: 936px) {
  .game_slider .swiper-slide {
    padding-right: 1vw;
  }
}
@media (min-width: 936px) and (max-width: 1143px) {
  .game_slider::before, .game_slider::after {
    height: calc((100vw - 56px) / 6 - 1.1vw);
  }
  .game_slider .swiper-slide {
    width: 16.6666666667%;
  }
  .game_slider .swiper-slide:nth-child(6n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(6n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(6n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0px;
  }
  .game_slider .swiper-slide:nth-child(6n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}
@media (min-width: 1144px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 320px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
}
@media (min-width: 1144px) and (max-width: 1383px) {
  .game_slider::before, .game_slider::after {
    height: calc((100vw - 56px) / 7 - 1.2vw);
  }
  .game_slider .swiper-slide {
    width: 14.2857142857%;
  }
  .game_slider .swiper-slide:nth-child(7n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(7n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(7n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0px;
  }
  .game_slider .swiper-slide:nth-child(7n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}
@media (min-width: 1384px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 340px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 66%;
  }

  .swiper-button-next,
.swiper-button-prev {
    height: calc(100% - 65px);
    top: 65px;
  }
}
@media (min-width: 1384px) and (max-width: 1543px) {
  .game_slider::before, .game_slider::after {
    height: calc((100vw - 56px) / 8 - 1.2vw);
  }

  .game_slider .swiper-slide {
    width: 12.5%;
  }
  .game_slider .swiper-slide:nth-child(8n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(8n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(8n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(8n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}
@media (min-width: 1544px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 380px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
}
@media (min-width: 1544px) and (max-width: 1863px) {
  .game_slider::before, .game_slider::after {
    height: calc((100vw - 56px) / 7 - 1.2vw);
  }

  .game_slider .swiper-slide {
    width: 12.5%;
  }
  .game_slider .swiper-slide:nth-child(7n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(7n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(7n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(7n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}
@media (min-width: 1864px) and (max-width: 1919px) {
  .game_slider::before, .game_slider::after {
    height: calc((100vw - 56px) / 8 - 1.2vw);
  }

  .game_slider .swiper-slide {
    width: 11.1111111111%;
  }
  .game_slider .swiper-slide:nth-child(9n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(9n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(9n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(9n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}
@media (min-width: 1864px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 400px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 60%;
  }
}
@media (min-width: 1920px) {
  .tab-game .icon-mask {
    width: 3.75rem;
    height: 3.75rem;
  }

  .game_slider::before, .game_slider::after {
    height: calc((100vw - 56px) / 10 - 1.2vw);
    max-height: 240px;
  }

  .game_slider .swiper-slide {
    width: 200px;
  }
  .game_slider .swiper-slide:nth-child(10n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(10n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(10n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(10n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }

  .hero_slider_lobby .img-wrap {
    padding-bottom: 480px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 55%;
  }
}