/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
/* animation =================================
animation:name duration | timing-function | delay | iteration-count | direction | fill-mode | play-state; */
.article-member-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

.section-member-profile,
.section-member-activity,
.section-member-wallet-transaction {
  width: 100%;
}

.icon-mask:before {
  background-color: #fff;
}

.data-item {
  width: 100%;
  padding: 0.5rem;
}
.data-item.name {
  width: 70%;
  -webkit-box-ordinal-group: -3;
      -ms-flex-order: -4;
          order: -4;
}
.data-item.password {
  width: 70%;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}
.data-item.birth {
  width: 30%;
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}
.data-item.currency {
  width: 30%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

input.year {
  width: 33% !important;
}
input.year:-moz-read-only {
  width: 32% !important;
}
input.year:read-only {
  width: 32% !important;
}
input.month, input.day {
  width: 22% !important;
  text-align: center;
}
input.month:-moz-read-only, input.day:-moz-read-only {
  width: 21% !important;
}
input.month:read-only, input.day:read-only {
  width: 21% !important;
}

.sec-col-2 .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
}
.sec-col-2 .sec-title-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 37px);
          flex: 0 0 calc(100% - 37px);
}

.data-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.data-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.labels .label {
  color: #fff;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}
.labels .update {
  background-color: #7ACEA6;
}
.labels .validated {
  background-color: #009FE8;
}
.labels .unvalidated {
  background-color: #EB4900;
}

.member-profile-avater-wrapper {
  max-width: 145px;
  margin: 2rem auto 2rem;
  position: relative;
}
.member-profile-avater-wrapper .avater {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.member-profile-avater-wrapper .avater-img {
  width: 100%;
}
.member-profile-avater-wrapper .avater-img img {
  width: 100%;
}
.member-profile-avater-wrapper .avater .btn {
  position: absolute;
  right: -20px;
  bottom: 10px;
}
.member-profile-avater-wrapper .avater .icon-mask {
  width: 35px;
  height: 35px;
}
.member-profile-data-wrapper .btn-edit {
  padding: 5px;
}
.member-profile-data-wrapper .btn-edit .icon {
  width: 25px;
  height: 25px;
}
.member-profile-data-wrapper input.custom-input-edit {
  width: 100%;
}
.member-profile-data-wrapper input.custom-input-edit:-moz-read-only {
  border: none;
}
.member-profile-data-wrapper input.custom-input-edit:read-only {
  border: none;
}
.member-profile-data-wrapper .data-item .title-name {
  color: #767676;
}
.member-profile-data-wrapper .data-item-title .icon-mask {
  width: 20px;
  height: 20px;
}
.member-profile-data-wrapper .data-item-title .icon-mask:before {
  background-color: #767676;
}
.member-profile-data-wrapper .data-item-content {
  font-size: 1.125rem;
}
.member-profile-QRcode {
  max-width: 200px;
  margin: 0 auto;
  color: #fff;
}
.member-profile-QRcode .qrcode-img img {
  width: 100%;
}
.member-profile-QRcode .qrcode-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009FE8;
  border-radius: 30px;
  padding: 0.2em 1em;
  font-size: 0.7em;
}
.member-profile-QRcode .qrcode-number .icon {
  width: 20px;
  height: 20px;
}

.member-wallet-wrapper {
  background-color: #7acea6;
  background-image: url(../images/theme/bg_dog_white.png), url(../images/icon/ico-dog-w-shadow.svg);
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 350px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.member-wallet-inner {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  background: rgba(81, 189, 139, 0.8);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.member-wallet-inner > * {
  width: 100%;
}
.member-wallet-title {
  margin-bottom: 10px;
}
.member-wallet-contnet {
  padding: 10px;
}
.member-wallet-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.member-wallet-amount .unit {
  width: 100%;
}
.member-wallet-amount .amount {
  font-size: 2.25rem;
}
.member-wallet-amount .member-deposit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.member-wallet-amount .btn-deposit {
  width: 30px;
  height: 30px;
  margin-left: 0.5em;
}

.member-record-wrapper {
  background: #44956E;
  padding: 10px;
}
.member-record-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
}
.member-record-title .icon {
  width: 36px;
  height: 30px;
}
.member-record-title .icon:before {
  background-color: #fff;
}
.member-record-title .title {
  font-size: 1.25rem;
}

.activity-dailylogin-wrapper {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.activity-center-wrapper {
  background-color: #45c5ff;
  background-image: url(../images/theme/bg_dog_white.png), url(../images/member/bg_activity.svg);
  background-position: center center, 100% 120%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100px;
  cursor: pointer;
  min-height: 120px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.activity-center-wrapper .title {
  font-size: 1.625rem;
  color: #fff;
  position: absolute;
  bottom: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.dailylogin-bouns-inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFAC3), to(#FFDFD2));
  background: linear-gradient(180deg, #FFFAC3 0%, #FFDFD2 100%);
}
.dailylogin-bouns-content {
  position: relative;
}
.dailylogin-bouns-content .title:before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 140px;
  height: 72px;
  background: url(../images/prize/obj-golden-bag.svg) left center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  left: 0;
  bottom: -10px;
}
.dailylogin-bouns-list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dailylogin-bouns-list .bouns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 14.2857142857%;
}
.dailylogin-bouns-list .bouns-item:before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  background: url(../images/prize/obj-coin-bouns.svg) left center no-repeat;
  background-size: contain;
  position: relative;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  margin: 0 auto;
}
.dailylogin-bouns-list .bouns-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  background-color: #dbdbdb;
  mix-blend-mode: color;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url(../images/prize/obj-coin-bouns.svg);
  mask-image: url(.../images/prize/obj-coin-bouns.svg);
  margin: 0 auto;
}
.dailylogin-bouns-list .bouns-item.got:after {
  opacity: 0;
}
.dailylogin-bouns-list .bouns-item .day {
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 85%;
  max-width: 54px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 3px 0;
  margin-bottom: 6px;
}

.member-withdraw-wrapper.lacking .member-withdraw-limit-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#6F6F6F), color-stop(69.79%, #848484), color-stop(74.48%, #6F6F6F));
  background: linear-gradient(180deg, #6F6F6F 0%, #848484 69.79%, #6F6F6F 74.48%);
}
.member-withdraw-wrapper.lacking .member-withdraw-limit-wrapper::after {
  background-image: url(../images/member/dog-dance-lacking.png);
}
.member-withdraw-wrapper.lacking .icon-lock:before {
  -webkit-mask-image: url(../images/icon/ico-lock-closed.svg);
  mask-image: url(../images/icon/ico-lock-closed.svg);
}
.member-withdraw-wrapper.lacking .title.enough {
  display: none;
}
.member-withdraw-wrapper.enough .member-withdraw-limit-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), color-stop(69.79%, #F4D9BD), color-stop(74.48%, #E58A4C));
  background: linear-gradient(180deg, #FF9900 0%, #F4D9BD 69.79%, #E58A4C 74.48%);
}
.member-withdraw-wrapper.enough .member-withdraw-limit-wrapper::after {
  background-image: url(../images/member/dog-dance-enough.png);
}
.member-withdraw-wrapper.enough .icon-lock:before {
  -webkit-mask-image: url(../images/icon/ico-lock-open.svg);
  mask-image: url(../images/icon/ico-lock-open.svg);
}
.member-withdraw-wrapper.enough .title.lacking {
  display: none;
}
.member-withdraw-wrapper.enough .limit-amount {
  display: none;
}
.member-withdraw-limit-wrapper {
  min-height: 350px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 0;
  color: #fff;
  overflow: hidden;
}
.member-withdraw-limit-wrapper:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/member/bg-spot-mobile.png) center center no-repeat;
  mix-blend-mode: screen;
  background-size: contain;
}
.member-withdraw-limit-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.member-withdraw-limit-inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10%;
  width: 100%;
  margin: 0 auto;
}
.member-withdraw-limit-inner .icon-lock {
  width: 5rem;
  height: 5rem;
}
.member-withdraw-limit-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.member-withdraw-limit-content .title {
  font-size: 1.125rem;
}
.member-withdraw-limit-content .limit-amount {
  font-size: 2.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.member-withdraw-limit-content .btn-QA-transaction {
  width: 26px;
  height: 26px;
  padding: 5px;
  margin-left: 0.5rem;
}

@media (min-width: 640px) {
  .section-member-wallet-transaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper,
.section-member-wallet-transaction .member-withdraw-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper {
    padding-right: 0.4rem;
  }
  .section-member-wallet-transaction .member-withdraw-wrapper {
    padding-left: 0.4rem;
  }

  .dailylogin-bouns-inner {
    border-bottom: solid 15px #4288C9;
    border-radius: 20px 20px 0 0;
    padding-top: 15px;
  }
  .dailylogin-bouns-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dailylogin-bouns-content .title {
    position: relative;
    bottom: -10px;
  }
  .dailylogin-bouns-content .title .name {
    position: absolute;
    width: 90%;
    right: 0;
    font-size: 0.8em;
    top: -30px;
    width: 4em;
    font-weight: 900;
  }
  .dailylogin-bouns-list {
    position: absolute;
    width: calc(100% - 150px);
    right: 0;
    bottom: -10px;
  }
  .dailylogin-bouns-list .bouns-item {
    width: 14.2857142857%;
  }
  .dailylogin-bouns-list .bouns-item:before {
    max-width: 45px;
    padding-bottom: 45px;
  }
  .dailylogin-bouns-list .bouns-item:after {
    max-width: 45px;
    padding-bottom: 45px;
  }
  .dailylogin-bouns-list .bouns-item .day {
    background: url(../images/prize/obj-dialog.svg) center center no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    padding: 0.5rem;
    max-width: 65px;
  }
}
.data-item-group {
  min-height: 250px;
}
.data-item-group .wrapper_center {
  width: 100%;
}
.data-item-group .wrapper_center .btn {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 30px;
}

@media (min-width: 712px) {
  .data-item.name {
    width: 27.5%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.password {
    width: 27.5%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.birth {
    width: 22.5%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.currency {
    width: 22.5%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.email {
    width: 45%;
  }
  .data-item.mobile, .data-item.home, .data-item.news {
    width: 100%;
  }
  .data-item.qrcode {
    width: 100%;
    right: 0;
  }
}
@media (min-width: 1384px) {
  .data-item.name {
    width: 60%;
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .data-item.password {
    width: 60%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .data-item.birth {
    width: 40%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .data-item.currency {
    width: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .data-item.mobile, .data-item.home, .data-item.news {
    width: 100%;
  }
  .data-item.qrcode {
    width: 100%;
    position: relative;
    right: 0;
  }

  .section-member-profile,
.section-member-activity,
.section-member-wallet-transaction {
    width: 50%;
  }

  .section-member-profile {
    padding-right: 1rem;
  }

  .section-member-activity {
    min-height: 950px;
  }

  .section-member-wallet-transaction {
    position: absolute;
    right: 0;
    top: 260px;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper,
.section-member-wallet-transaction .member-withdraw-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper {
    margin-bottom: 1rem;
  }

  .member-wallet-wrapper {
    background-size: auto 125%;
    background-position: -30px center;
    min-height: 300px;
  }
  .member-wallet-contnet {
    width: 50%;
  }

  .member-wallet-inner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(89, 181, 135, 0.9)), to(rgba(22, 181, 114, 0.9)));
    background: linear-gradient(180deg, rgba(89, 181, 135, 0.9) 0%, rgba(22, 181, 114, 0.9) 100%);
    padding: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .member-record-wrapper {
    width: 30%;
    border-radius: 10px;
  }

  .section-member-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .member-profile-avater-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    padding-right: 2rem;
  }
  .member-profile-data-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .member-withdraw-limit-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .member-withdraw-limit-wrapper:before {
    background-image: url(../images/member/bg-spot-desk.png);
  }
  .member-withdraw-limit-wrapper:after {
    width: 40%;
    left: auto;
    bottom: 20px;
  }
  .member-withdraw-limit-inner {
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
  }

  .member-withdraw-limit-wrapper {
    min-height: 300px;
  }
  .member-withdraw-limit-content .limit-amount {
    width: 100%;
  }
}
@media screen and (max-width: 639px) {
  .data-item-group .wrapper_center {
    margin-bottom: 2.5rem;
  }

  .coming-soon:after {
    background-size: 65%;
  }

  .data-item.name {
    width: 70%;
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .data-item.password {
    width: 70%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .data-item.birth {
    width: 30%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .data-item.currency {
    width: 30%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .section-member-activity {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .dailylogin-bouns-inner {
    padding: 50px 10px 10px;
    border-radius: 20px;
  }
  .dailylogin-bouns-content {
    background: #fff;
    padding-top: 20px;
  }
  .dailylogin-bouns-content .title {
    position: absolute;
    width: 100%;
    top: -70px;
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dailylogin-bouns-content .title .name {
    position: relative;
    z-index: 1;
    font-size: 1em;
  }
  .dailylogin-bouns-content .title:after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 15px;
    background: #4288C9;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .dailylogin-bouns-list .bouns-item .day {
    background: #FFE9A8;
    border: 2px solid #E69D00;
    border-radius: 13px;
    margin-bottom: 10px;
  }
  .dailylogin-bouns-list .bouns-item .day:before {
    content: "";
    position: absolute;
    bottom: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #E69D00 transparent transparent transparent;
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  .dailylogin-bouns-list .bouns-item .day:after {
    content: "";
    position: absolute;
    bottom: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #FFE9A8 transparent transparent transparent;
    -webkit-transform: translateX(-18.5px);
            transform: translateX(-18.5px);
  }
}