################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/OCW_JP/v15
/.vs/OCW_JP/config/applicationhost.config
/scss
/prepros.config
/.vs/GIT/v16
/.vs/GIT/config
/.vs/OCW_JP/v16
/.vs/ProjectSettings.json
/.vs/tasks.vs.json
/Casino - 複製.aspx
/.vs/OCW_JP/v17
/.vs/slnx.sqlite
